/* ----------- Compass Import ----------*/
.aui .skin-yellow #main-content #first-row {
  background: #F2C45A;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2c45a), color-stop(100%, #e1d57c));
  background-image: -webkit-linear-gradient(top, #f2c45a 0%, #e1d57c 100%);
  background-image: -moz-linear-gradient(top, #f2c45a 0%, #e1d57c 100%);
  background-image: -o-linear-gradient(top, #f2c45a 0%, #e1d57c 100%);
  background-image: linear-gradient(top, #f2c45a 0%, #e1d57c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2c45a,endColorstr=#e1d57c);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2c45a, endColorstr=#e1d57c)";
  color: #817832; }
.aui .skin-yellow #footer-widgets a, .aui .skin-yellow #footer a {
  color: #5595A5; }
.aui .skin-yellow input[type="submit"], .aui .skin-yellow input[type="button"], .aui .skin-yellow .text-link-image-slider-wrap .entry a {
  border: 1px solid #F2C45A;
  background: #F2C45A;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2c45a), color-stop(100%, #bfb35a));
  background-image: -webkit-linear-gradient(top, #f2c45a 0%, #bfb35a 100%);
  background-image: -moz-linear-gradient(top, #f2c45a 0%, #bfb35a 100%);
  background-image: -o-linear-gradient(top, #f2c45a 0%, #bfb35a 100%);
  background-image: linear-gradient(top, #f2c45a 0%, #bfb35a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2c45a,endColorstr=#bfb35a);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2c45a, endColorstr=#bfb35a)"; }
.aui .skin-yellow input[type="submit"]:hover, .aui .skin-yellow input[type="Button"]:hover, .aui .skin-yellow .text-link-image-slider-wrap .entry a:hover {
  background: #f2c45a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2c45a), color-stop(100%, #d0a238));
  background-image: -webkit-linear-gradient(top, #f2c45a 0%, #d0a238 100%);
  background-image: -moz-linear-gradient(top, #f2c45a 0%, #d0a238 100%);
  background-image: -o-linear-gradient(top, #f2c45a 0%, #d0a238 100%);
  background-image: linear-gradient(top, #f2c45a 0%, #d0a238 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2c45a,endColorstr=#d0a238);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2c45a, endColorstr=#d0a238)"; }

