<!-- ******slider parameters ****** -->

#set($sliderId = "slider"+$reserved-article-id.data.replaceAll("-", "")+"name")
#set ($animationSpeed = $getterUtil.getInteger($animation-speed.data))
#if ($animationSpeed==0)
   #set ($animationSpeed = 3000)
#end
#set ($slideshowSpeed = $getterUtil.getInteger($slideshow-speed.data))
#if ($slideshowSpeed==0)
   #set ($slideshowSpeed = 500)
#end
#set ($itemWidth = $getterUtil.getInteger($item-width.data))

#set ($move = $getterUtil.getInteger($moved-items.data))

#set ($maxItems = $getterUtil.getInteger($max-items.data))

#set ($slideshow = $auto-slideshow.data)
#if ($slideshow=="")
   #set ($slideshow = false)
#end
#set ($manualControls = $manual-controls.data)
#if ($manualControls=="")
   #set ($manualControls = "''")
#end
#set ($directionNav = $direction-nav.data)
#if ($directionNav=="")
   #set ($directionNav = false)
#end
#set ($controlNav = $control-nav.data)
#if ($controlNav=="")
   #set ($controlNav = false)
#end
#set ($animationLoop = $animation-loop.data)
#if ($animationLoop=="")
   #set ($animationLoop = false)
#end
#set ($pauseOnHover = $pause-on-hover.data)
#if ($pauseOnHover=="")
   #set ($pauseOnHover = false)
#end

#set ($animation = "'"+$animation-type.data+"'")

#set ($direction = "'"+$sliding-direction.data+"'")

#set ($contentId = "slider-" + $reserved-article-id.getData() + "-id")

#set ($itemWidth = 300)
#set ($maxItems = 3)
#set ($move = 3)
<section class="testimonial" >
	<header class="testimonial-header">
		<h1>
			#if($section-title.data)
                   $section-title.data
			#end
		</h1>
     	<p>     
     		<span>
       			$section-description.data
     		</span>
     	</p>
	</header>
	<div class="testimonial-slider" id="$contentId">
		<ul class="slides" >
		#foreach($slide in $slides.siblings)
			<li >
				<div class="content">
					<div class="gravatar">
     					<span class="gravatar-wrap">
							<img alt="" src="$slide.image-source.data" class="avatar avatar-40 photo" height="40" width="40">
						</span>
					</div>
					<p>$slide.description.data</p>
                    <div class="author">
	    				<span class="name">$slide.author-name.data</span>
		        		<span class="website"><a href="$slide.site-link.data" title="My site">$slide.site.data</a></span>
		   			</div>
                </div>
			</li>

		#end
		
		</ul>
	</div>

</section>

<!-- ********* javaScript ********** -->
<script type="text/javascript">
   jQuery(window).load(function() {  
       jQuery('#$contentId').flexslider({  
           	animation: $animation,
           	direction: $direction,   		   	
           	controlNav: $controlNav,  
           	directionNav: $directionNav,
           	slideshow: $slideshow,   
           	animationSpeed: $animationSpeed ,	
           	slideshowSpeed: $slideshowSpeed ,
           	pauseOnHover: $pauseOnHover,
           	animationLoop: $animationLoop,
			itemWidth: $itemWidth,
			maxItems: $maxItems,
			move: $move,
			smoothHeight: true,
			manualControls: $manualControls
		
           	   	});   
            });	
</script>