/* ----------- Compass Import ----------*/
@import "compass";
.aui{
.skin-orange #main-content #first-row {
	background: #FF823A;
	@include background-image(linear-gradient(top, #FF823A 0%, #FFA45C 100%));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff823a,endColorstr=#ffa45c);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff823a, endColorstr=#ffa45c)";
	.content-area-wrapper{
	color: #FFD3BA;
	text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2);
	}
}
.skin-orange{
	#footer-widgets, #footer, #main-content .portlet-layout span{
	a{
		color: #D34D00;
	}
	}
	input[type="submit"],input[type="button"], .text-link-image-slider-wrap .entry a{
		border: 1px solid #FF823A;
		background: #FF823A;
		@include background-image(linear-gradient(top, #FF823A 0%, #EE7129 100%));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff823a,endColorstr=#ee7129);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff823a, endColorstr=#ee7129)";
	}
	input[type="submit"]:hover,input[type="Button"]:hover,.text-link-image-slider-wrap .entry a:hover{
		background: #ff823a;
		@include background-image(linear-gradient( top, #ff823a 0%, #ffb56d 100%));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff823a,endColorstr=#ffb56d);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff823a, endColorstr=#ffb56d)";
	}
}
}