/* ----------- Compass Import ----------*/
@import "compass";
.aui{
.skin-pink #main-content #first-row {
	background: #F04155;
	@include background-image(linear-gradient(top, #F04155 0%, #FF6377 100%));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f04155,endColorstr=#ff6377);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f04155, endColorstr=#ff6377)";
	.content-area-wrapper{
		color: #f9b7bf;
		text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2);
	}
}
.skin-pink{
	
	#footer-widgets, #footer, #main-content .portlet-layout span{
		a{
			color: #EB132B;
		}
	}
	input[type="submit"],input[type="button"], .text-link-image-slider-wrap .entry a{
		border: 1px solid #F04155;
		background: #F04155;
		@include background-image(linear-gradient(top, #F04155 0%, #FF5266 100%));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f04155,endColorstr=#ff5266);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f04155, endColorstr=#ff5266)";
	}
	input[type="submit"]:hover,input[type="Button"]:hover, .text-link-image-slider-wrap .entry a:hover{
		background: #f04155;
		@include background-image(linear-gradient(top, #f04155 0%, #df3044 100%));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f04155,endColorstr=#df3044);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f04155, endColorstr=#df3044)";
	}
}
}