@font-face {
    font-family: TopSecret;
    src: url(http://caltranz.com/topsecret.woff);
}

.aui #banner #head {
max-width: 980px;
}

.aui #main-content:not(.home-pixelpress) {
max-width: 980px;
}

.aui body {
font-size: 14px;
font-family: Arial;
color: #111;
}

.aui h1, .aui h2, .aui h3, .aui h4, .aui h5, .aui h6 {
font-family: Arial;
}

.thread-body {
    font-size: 15px;
}

.aui #Language-choices {
display: none;
}

h1.site-title {
padding-top: 8px;
width: 100%;
text-align: center;
}

h1.site-title .site-name {
display: none;
}

.aui #navigation {
padding-left: 0px;
margin: 12px 0 0;
}

.aui #page-search {
margin-top: 4px;
}

.aui #banner #head {
padding: 0 0 0px;
}

.aui #content {
padding: 0.8em 0 0;
}

#nesj_column1_0 {
display: none;
}

.portlet-content, .portlet-minimized .portlet-content-container {
padding: 0px 10px 10px;
}

.aui .navbar {
margin-bottom: 12px;
}

.aui .navbar-search .form-search form { margin-bottom: 0px; }

.aui #navigation li:first-child a { padding-left: 2px; }

.portlet-title span:first-child img { display: none; }
.portlet-title .portlet-title-text { margin-left: 8px; }

body.html-editor {
    font-family: Arial;
    font-size: 15px;
}

#banner {
   background-color: #79765b;
   background-image:
      linear-gradient(
         to right,
         #555636, #b4b0a0
      );
}


/** FIX PATHS **/

#banner {
  background-image: url(file:///Users/max/Code/dho-theme/theme/images/dho/banner.png);
  height: 186px;
  background-repeat:no-repeat;
  background-position:left top;
}

#heading {
  margin-top: 64px !important;
}

#navigation {
  background-color: #F5F5F5;
  width: 100%;
}


/** END FIX PATHS **/

/** STUFF TO MERGE **/

h1.site-title a.logo:before {
content: none;
}

h1.site-title a.logo img {
 display: inline;
}

/** END STUFF TO MERGE **/
